---

---

<a title="Ссылка главную страницу" href="/">
	<span class="sr-only">Логотип сайта</span>
	<div class="flex items-center gap-2">
		<img src="/test-logo.png" class="w-[40px] h-[40px] object-cover" alt="" />
		<span class="font-medium text-zinc-900">logotype</span>
	</div>
</a>
