---

---

<section
	class="max-w-[920px] flex-wrap items-center text-3xl md:text-6xl flex gap-3 leading-tight font-semibold tracking-tight text-indigo-950"
>
	<span class="whitespace-pre-wrap">ЮKassa</span>
	<span class="whitespace-pre-wrap">—</span>
	<span class="whitespace-pre-wrap">один из лучших </span>
	<div class="flex gap-3 items-center">
		<div class="relative mr-5 md:mr-10">
			<img src="/test-logo.png" alt="" class="w-8 md:w-14 rounded-full" />
			<img
				src="/test-logo.png"
				alt=""
				class="absolute -right-5 md:-right-10 top-0 w-8 md:w-14 rounded-full"
			/>
		</div>
		<span class="whitespace-pre-wrap">платежных сервисов России</span>
	</div>
	<span>в 2023 году</span>
	<a href="#" class="blue-500 flex gap-3 items-center"
		><span>по рейтингу РБК</span>
		<img src="/test-logo.png" alt="" class="w-8 md:w-14 rounded-full" /></a
	>
</section>
