---

---

<div
	class="max-w-2xl h-50 rounded-xl bg-white ring-[0.5px] ring-[#dfdfdf] shadow-[0_0_0_1px_#a1a1a140,0_1px_2px_-0.5px_#00000014,0_2px_4px_-1px_#00000014,0_4px_10px_-2px_#00000014]"
>
	<div class="p-12 text-center text-zinc-600 font-medium tracking-tight">
		<h2 class="text-xl mb-3">Lorem ipsum dolor sit.</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil quam asperiores
			modi voluptatem aliquid odit id dolor fugit! Corporis aliquid officiis sit, quas quos
			enim laboriosam atque assumenda aperiam!
		</p>
	</div>
</div>
