---

---

<main class="max-w-2xl mx-auto text-center relative">
	<div class="list">
		<div class="relative">
			<article>
				<h2 class="mb-12">
					Подходит и крупным компаниям, и тем, кто только начинает своё дело
				</h2>
			</article>
		</div>
		<section class="flex flex-col gap-[32px] text-xl md:text-4xl">
			<article
				class="grid place-content-center text-white p-12 sticky top-[100px] aspect-square rounded-3xl bg-amber-500"
			>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam blanditiis neque
				doloribus atque id corporis, voluptate explicabo fuga necessitatibus aspernatur eaque,
				ad facere sed suscipit vero laudantium expedita quidem? Veniam.
			</article>
			<article
				class="grid place-content-center text-white p-12 sticky top-[100px] aspect-square rounded-3xl bg-red-500"
			>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam blanditiis neque
				doloribus atque id corporis, voluptate explicabo fuga necessitatibus aspernatur eaque,
				ad facere sed suscipit vero laudantium expedita quidem? Veniam.
			</article>
			<article
				class="grid place-content-center text-white p-12 sticky top-[100px] aspect-square rounded-3xl bg-blue-500"
			>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam blanditiis neque
				doloribus atque id corporis, voluptate explicabo fuga necessitatibus aspernatur eaque,
				ad facere sed suscipit vero laudantium expedita quidem? Veniam.
			</article>
			<article
				class="grid place-content-center text-white p-12 sticky top-[100px] aspect-square rounded-3xl bg-indigo-500"
			>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam blanditiis neque
				doloribus atque id corporis, voluptate explicabo fuga necessitatibus aspernatur eaque,
				ad facere sed suscipit vero laudantium expedita quidem? Veniam.
			</article>
		</section>
	</div>
</main>

<style>
	.list:before {
		background-color: initial;
		border-radius: 30px;
		content: "";
		height: 100%;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50vw);
		width: 100vw;
	}
</style>
